<div class="container">
      
   

      <div class="row bg-light pt-3 bg-gradient rounded-3 shadow">
            {{>chat}}
            
            <div id="datos-Norm"></div>
      </div>





</div>