<h1>Agregar Productos</h1>
<form action="/" method="post">
    <label>titulo</label>
    <input type="text"name="titles">
    <label>precio</label>
    <input type="text"name="price">
    <label>url</label>
    <input type="text" name ="url">
    <input type="submit"value ="Agregar producto">
  </form>


  <a href="./productos">Mostrar Productos</a>