
<div>
    <form action="">
        <input type="text" id="usuario1" placeholder="Usuario">
        <input type="text" id="contraseña1" placeholder="Contraseña">
                 <button id="" class="btn btn-success">
            <i class="fas fa-paper-plane"></i>
            Login
         </button>
    </form>
</div>
